<div class="user-container">
  <header class="user-header">
    <div class="header-content">
      <h1>Cadastro de Usuário</h1>
      <nav class="header-nav">
        <button
          class="nav-button"
          routerLink="/login"
          routerLinkActive="active"
        >
          <span class="material-icons">people</span>
          Entrar
        </button>
      </nav>
    </div>
  </header>

  <section class="user-section">
    <div class="user-form-container">
      <h2>Preencha os dados abaixo</h2>

      <form [formGroup]="userForm" (ngSubmit)="create()" class="user-form">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input
            id="cpf"
            type="text"
            formControlName="cpf"
            placeholder="Digite seu CPF"
          />
        </div>

        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            id="nome"
            type="text"
            formControlName="nome"
            placeholder="Digite seu nome completo"
          />
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Digite seu e-mail"
          />
        </div>

        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input
            id="telefone"
            type="text"
            formControlName="telefone"
            placeholder="Digite seu telefone"
          />
        </div>

        <div class="form-group">
          <label for="endereco">Endereço</label>
          <input
            id="endereco"
            type="text"
            formControlName="endereco"
            placeholder="Digite seu endereço"
          />
        </div>

        <div class="form-group">
          <label for="municipio">Municipio</label>
          <input
            id="municipio"
            type="text"
            formControlName="municipio"
            placeholder="Digite sua cidade"
          />
        </div>

        <div class="form-group">
          <label for="uf">UF</label>
          <input
            id="uf"
            type="text"
            formControlName="uf"
            placeholder="Digite seu UF"
          />
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            id="senha"
            type="password"
            formControlName="senha"
            placeholder="Digite sua senha"
          />
        </div>

        <div class="user-actions">
          <button type="submit" class="submit-button" routerLinkActive="active">
            Salvar
          </button>
          <button
            type="button"
            class="cancel-button"
            routerLink="/search"
            routerLinkActive="active"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </section>
</div>
