<header class="consulta-header">
  <div class="header-content">
    <h2>Controle de Estoque</h2>
    <nav class="header-nav">
      <button class="nav-button" routerLink="/search" routerLinkActive="active">
        <span class="material-icons">home</span>
        Início
      </button>
      <button
        class="nav-button"
        routerLink="/profile"
        routerLinkActive="active"
      >
        <span class="material-icons">people</span>
        Perfil
      </button>
    </nav>
  </div>
</header>

<div class="container mt-4">
  <div class="card shadow-lg p-4">
    <nav class="header-nav"></nav>

    <button
      class="btn btn-success button-newItem"
      [routerLink]="['/create-medication']"
    >
      <span class="material-icons">add_circle_outline</span> Novo Medicamento
    </button>

    <label for="filtro-farmacia" class="form-label me-2 mb-0"
      >Filtrar por Farmácia:</label
    >
    <div class="container-select">
      <select
        id="filtro-farmacia"
        class="form-select"
        style="width: 250px"
        (ngModelChange)="aplicarFiltro($event)"
        [ngModel]="farmaciaFiltroId"
        [ngModelOptions]="{ standalone: true }"
      >
        <option [ngValue]="0">Todas as Farmácias</option>
        <option *ngFor="let f of farmacias" [ngValue]="f.id">
          {{ f.nomeFantasia }}
        </option>
      </select>
    </div>

    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-primary text-center">
          <tr>
            <th>Medicamento</th>
            <th>Farmácia</th>
            <th>Quantidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let e of estoquesExibidos">
            <td>{{ getNomeMedicamento(e.medicamentoId) }}</td>
            <td>{{ getNomeFarmacia(e.farmaciaId) }}</td>
            <td>{{ e.quantidade }}</td>
            <td>
              <button
                class="btn btn-warning btn-sm me-2"
                (click)="editarEstoque(e)"
              >
                Editar
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="excluirEstoque(e.id)"
              >
                Excluir
              </button>
            </td>
          </tr>
          <tr *ngIf="estoquesExibidos.length === 0">
            <td colspan="5" class="text-muted">
              Nenhum estoque encontrado para a seleção atual.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
